@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Vidaloka&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: rgb(29,253,48);
    background: linear-gradient(45deg, rgba(29,253,48,1) 0%, rgba(29,253,247,1) 60%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.box{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 12px 28px 0px, rgba(0, 0, 0, 0.3) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    width: 280px;
    max-width: 90%;
    border-radius: 15px;        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222; 
    
}
body>main>div>img{
    margin-top: 10px;
    width: 40%;
    height: 40%;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    border: 3px whitesmoke solid
}
body>main>div>div>p{
    color: whitesmoke;
    margin-top: 5px;
    font-size: 1.5em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    margin-top: 15px;
}
.textContainer{
    width: 90%;    
    display: flex;
    flex-direction: column;
    align-items: center;
       
}
.buttonContainer{
    width: 90%;
    margin-top: 10px;
}
body>main>div>div>a{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 12px 28px 0px, rgba(0, 0, 0, 0.3) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    transition: transform 250ms;
    margin: 15px 0px 15px 0px;
    text-decoration: none;
    color: whitesmoke;      
    display: flex;
    align-items: center;    
    font-size: 1.8em;
    border-radius: 10px;
    padding: 10px;    
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px; 
}
body>main>div>div>a>img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: whitesmoke;    
}
h1{
    color: whitesmoke;
    font-size: 2.1em;
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
.linkedin{
    background-color: #0073b1;
}
.github{
    background-color: #111111;
}
.instagram{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.whastapp{
    background:linear-gradient(45deg,#25D366, #089787 );
}

body>main>div>div>a:hover{
    transform: translateY(-10px);
}

@media screen and (max-height: 650px){
    .container{
        height: 125vh;
    }
}
@media screen and (min-height: 300px) { 
    h1{
        text-align: center;
    }
}